main {
  position: relative;
}

main img {
  width: 100vw;
}

main a {
  position: absolute;
  right: 50%;
  top: 30%;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--tiffany-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

main .arrow {
  width: 3rem;
  margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
  main a {
    visibility: visible;
    opacity: 1;
  }
}
